#root {
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: flex-start;
  flex-direction: column;
}

main h2 {
  font-size: 30px;
}

main p {
  font-size: 20px;
}

.badges {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.badges img {
  height: 30px;
}

picture {
  width: max-content;
}

.profile-pic {
  border-radius: 50%;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.about-me {
  min-height: 100vh;
}

.projects {
  min-height: 100vh;
}

.badges-lang,
.badges-tec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.badges-lang > img,
.badges-tec > img {
  height: 30px;
}
