.badges {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.badges img {
  height: 30px;
}

.about-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.badges-lang > img,
.badges-tec > img {
  height: 30px;
}

.badges-lang,
.badges-tec {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.about-me-content {
  max-width: 500px;
}
